.block-title {
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.88px;
  color: white;
  margin: 0;
  max-width: 1140px;
  height: 50px;
  border-bottom: solid #dadada 1px;
}

@media screen and (max-width: 620px) {
  .block-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin: 0 0 60px 0;
    height: 50px;
  }
}
